---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { products } from "../../lib/products";
export const getStaticPaths = async () => {
  const langs = Object.keys(products);
  const toret = langs
    .map((lang) => {
      return {
        params: {
          lang,
        },
      };
    })
    .flat();
  console.log(toret);
  return toret;
};
const { lang } = Astro.params;
---

<BaseLayout lang={lang}>
  <div class="grid cols-2">
    <div class="h-96 bg-bakery-primary col-span-2">Main Image</div>
    <div class="bg-bakery-dark h-72">_</div>
    <div class="bg-bakery-light h-80">Location</div>
  </div>
</BaseLayout>
